:root {
  --primary-color: #219ebc;
  --primary-deep-color: #023047;
  --primary-light-color: #8ecae6;
  --secondary-color: #ffd500;
  --secondary-deep-color: #ffb703;
  --secondary-light-color: #f1d691;
  --white: #ffffff;
  --black: #000000;
  --gray-20-color: #f8f9fa;
  --gray-50-color: #e5e5e5;
  --gray-100-color: #dedede;
  --gray-200-color: #e5e5e5;
  --gray-300-color: #cfcfcf;
  --gray-400-color: #b2b2b2;
  --gray-500-color: #a3a3a3;
  --gray-600-color: #898989;
  --gray-700-color: #6f6f6f;
  --gray-800-color: #555555;
  --gray-900-color: #3b3b3b;
}

* {
  font-family: "Noto Sans TC", serif;
  font-size: 16px;
}

/* 去除 bs 的 focus ring */
*:focus {
  outline: none !important;
  box-shadow: none !important;
}

.bread {
  margin-bottom: 30px;
}

.sidebar {
  padding-right: 15px;
  gap: 30px;
}

.sidebar-category {
  gap: -30px;
  border-bottom: 1px solid var(--gray-50-color);
}

.sidebar .sidebar-lists .sidebar-lists-title {
  padding: 15px;
  /* background-color: var(--gray-200-color); */
}

.sidebar .sidebar-lists .sidebar-lists-title.open {
  background: var(--gray-20-color);
}

.sidebar .sidebar-lists .sidebar-lists-title h6 {
  font-weight: 700;
}

.sidebar .sidebar-lists .sidebar-lists-title h6 {
  margin: 0;
  padding: 0;
}

.sidebar .sidebar-lists .sidebar-lists-title i {
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease;
}

/* 當下拉選單打開時，旋轉圖標 */
.sidebar .sidebar-lists .sidebar-lists-title.open i {
  transform: rotate(180deg);
}

/* 側欄搜索 */
.search-box {
  width: 100%;
  /* max-width: 300px; */
  position: relative; /* 新增這行，確保內部的 .search-box i 可以正確定位 */
}

.search-box input {
  width: 100%;
  padding: 10px 35px 10px 10px; /* 增加右側內距，避免圖示重疊輸入內容 */
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.search-box input:focus {
  border-color: var(--primary-color);
}

.search-box i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #aaa;
  cursor: pointer;
}

/* 隱藏內建的清除按鈕 */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}


/* 下拉選單 */
.sidebar-dropdown {
  position: relative;
  background-color: var(--white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 下拉選單中的每個項目 */
.sidebar-dropdown-item {
  position: relative;
  padding: 10px 16px;
  font-size: 14px;
  color: var(--black);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-dropdown-item:hover {
  background-color: #f8f9fa;
  color: var(--primary-color);
}

/* 當項目被選中時的樣式 */
.sidebar-dropdown-item.selected {
  background-color: var(--primary-color);
  color: var(--white);
}

/* 小分類下拉選單 */
.small-category-dropdown {
  display: none; /* 小分類隱藏 */
  position: absolute;
  top: 0;
  left: 100%;
  background-color: var(--white);
  border: 1px solid var(--gray-50-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 160px; /* 最小寬度 */
  z-index: 10; /* 確保小分類選單在最上層 */
}
.sidebar-dropdown-item:hover .small-category-dropdown {
  display: block; /* hover 顯示小分類 */
}

/* 小分類下拉選單中的每個項目 */
.small-category-dropdown-item {
  padding: 10px 16px;
  font-size: 14px;
  color: var(--black);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.small-category-dropdown-item:hover {
  background-color: #f8f9fa;
  color: var(--primary-color);
}

.small-category-dropdown-item.selected {
  background-color: var(--primary-color);
  color: var(--white);
}

.sidebar .sidebar-lists .product-category-content {
  padding: 10px 15px;
}

.sidebar .sidebar-lists .product-category-content ul {
  font-size: 15px;
  font-weight: 700;
  padding: 6px 0px;
  margin: 0;
}

.sidebar .sidebar-selectBtn {
  background-color: var(--white);
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.sidebar .sidebar-selectBtn:hover {
  background-color: var(--gray-50-color);
  box-shadow: inset 0 0 0 1px var(--gray-50-color);
}

.sidebar .sidebar-selectBtn.active {
  background-color: var(--gray-100-color);
}

.sidebar .sidebar-selectBtn i,
.sidebar .sidebar-selectBtn span {
  font-size: 14px;
}

.sidebar .product-filter .product-filter-price,
.sidebar .product-filter .product-filter-brand,
.sidebar .product-filter .product-filter-color,
.sidebar .product-filter .product-filter-wetsuit {
  padding: 15px 15px;
  border-bottom: 1px solid var(--gray-100-color);
}

.sidebar .product-filter .filter-subtitle {
  font-size: 13px;
  font-weight: 700;
  padding-bottom: 8px;
  margin-bottom: 0;
}

.sidebar .product-filter .filter-subtitle2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.sidebar .product-filter .filter-subtitle2 i {
  font-size: 10px;
}

.clear-filter {
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s, transform 0.3s; /* 動畫效果 */
}

.clear-filter:hover {
  /* color: red; 鼠標懸停顏色 */
  transform: scale(1.2); /* 鼠標懸停時放大按鈕 */
}

.clear-filter:active {
  /* color: #ff0000; 點擊時的顏色 */
}

/* 基本的圓形顏色框 */
.color-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 3px -2px 0px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.4));
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.3),
    rgba(0, 0, 0, 0.1)
  );
}

.color-circle:hover {
  transform: scale(1.05); /* 放大 */
  border-color: var(--black); /* 邊框變深 */
  box-shadow: 0 0 10px rgba(200, 200, 200, 0.1); /* 陰影 */
}

/* 當顏色選中時 */
.color-circle.selected {
  box-shadow: 0 0 15px rgba(200, 200, 200, 0.7); /* 更明顯的陰影 */
}

.sidebar .product-filter .product-filter-price .price-input {
  gap: 10px;
  padding: 0px 0px 10px 0px;
}

.sidebar .product-filter .product-filter-price .price-box {
  width: 100%;
  gap: 6px;
}

.sidebar .product-filter .product-filter-price .price-box .min-price,
.sidebar .product-filter .product-filter-price .price-box .max-price {
  border: 1px solid var(--gray-100-color);
  padding: 15px;
}

.sidebar .product-filter .product-filter-price .currency-symbol {
  font-weight: 700;
  color: var(--black);
}

.sidebar .product-filter .product-filter-price .price-box input {
  border: none;
  outline: none;
  width: 100%;
  height: 17px;
  font-size: 14px;
  font-weight: 700;
  color: var(--black);
  text-align: center;
}

.sidebar .product-filter .product-filter-price .price-box input::placeholder {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  color: var(--gray-600-color);
}

/* 覆蓋 rc-slider 的默認樣式 */
.custom-slider .rc-slider-track {
  background-color: var(--primary-light-color); /* 滑軌顏色 */
}

.custom-slider .rc-slider-handle {
  border-color: var(--primary-color); /* 滑塊邊框顏色 */
  background-color: var(--primary-color); /* 滑塊背景顏色 */
}

.custom-slider .rc-slider-dot-active {
  border-color: var(--primary-color); /* 刻度點顏色 */
}

.sidebar .product-filter .product-filter-brand .brand-select {
  gap: 10px;
  padding-bottom: 7px;
}

.sidebar .product-filter .product-filter-brand .brand-select .brand {
  color: var(--gray-600-color);
  font-size: 14px;
  font-weight: 700;
}

.sidebar .product-filter .product-filter-color .color-options {
  max-width: 100%;
  gap: 10px;
}

.sidebar .product-filter .product-filter-color .color-options .color-circle {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  cursor: pointer;
}

/* 圖標旋轉效果 */
.bi-chevron-down {
  transition: transform 0.3s ease-in-out; /* 旋轉過渡 */
}

/* 圖標旋轉效果 */
.bi-chevron-down.rotate {
  transform: rotate(180deg); /* 旋轉 180 度 */
}

/* 顏色選項展開時的樣式 */
.color-options.expanded {
  max-height: 1000px; /* 展開後高度更大 */
  overflow: visible; /* 顯示所有顏色選項 */
  transition: max-height 0.3s ease-in-out; /* 平滑過渡 */
}

/* 顏色選項收起時的樣式 */
.color-options {
  max-height: 60px; /* 收起時限制高度 */
  overflow: hidden; /* 隱藏多餘的顏色選項 */
  transition: max-height 0.3s ease-in-out; /* 平滑過渡 */
}

.sidebar .product-new .new-product-lists {
  width: 100%;
  padding: 15px;
  gap: 10px;
}

.sidebar .product-new .new-product-lists .card {
  width: 100%;
  border: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}
.sidebar .product-new .new-product-lists .card:hover {
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.08);
  transform: translateY(-5px);
}

.sidebar .product-new .new-product-lists .card .new-product {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.new-product::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    -135deg,
    rgba(13, 62, 74, 0.1) 0%,
    rgba(13, 62, 74, 0) 30%
  );
  z-index: 1;
  pointer-events: none;
}



.sidebar .product-new .new-product-lists .card .new-product .product-img {
  width: 90px;
  flex-shrink: 0;
}

.sidebar .product-new .new-product-lists .card .new-product .card-body {
  flex-grow: 1;
  min-width: 0;
  gap: 2px;
  padding: 0px 0px 0px 10px;
}

.sidebar
  .product-new
  .new-product-lists
  .card
  .new-product
  .card-body
  .product-brand,
.sidebar
  .product-new
  .new-product-lists
  .card
  .new-product
  .card-body
  .product-name,
.sidebar
  .product-new
  .new-product-lists
  .card
  .new-product
  .card-body
  .product-price {
  margin: 0;
  color: var(--black);
}

.sidebar
  .product-new
  .new-product-lists
  .card
  .new-product
  .card-body
  .product-brand {
  color: var(--gray-600-color);
  font-size: 12px;
  margin-top: 10px;
}

.sidebar
  .product-new
  .new-product-lists
  .card
  .new-product
  .card-body
  .product-name {
  font-size: 14px;
  white-space: nowrap; /* 防止換行 */
  overflow: hidden; /* 隱藏溢出部分 */
  text-overflow: ellipsis; /* 顯示省略號 */
  width: 100%; /* 確保它有固定的寬度 */
}

.sidebar
  .product-new
  .new-product-lists
  .card
  .new-product
  .card-body
  .product-price {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  color: var(--black) !important;
}

.sidebar
  .product-new
  .new-product-lists
  .card
  .new-product
  .card-body
  .product-color {
  gap: 6px;
  margin-bottom: 10px;
}

.sidebar
  .product-new
  .new-product-lists
  .card
  .new-product
  .card-body
  .product-color
  .color-box {
  width: 13px;
  height: 13px;
  border: 0.5px solid var(--gray-200-color);
  border-radius: 50%;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.4));
}

.sidebar .product-new .pagination.page-link {
  border: none;
  color: var(--black);
}

.sidebar .product-sale .sale-product-lists {
  padding: 15px;
  gap: 10px;
}

.sidebar .product-sale .sale-product-lists .card {
  border: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}
.sidebar .product-sale .sale-product-lists .card:hover {
  transform: translateY(-5px);
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.08);
}

.sidebar .product-sale .sale-product-lists .card .sale-product {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.sale-product::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    -135deg,
    rgba(13, 62, 74, 0.1) 0%,
    rgba(13, 62, 74, 0) 30%
  );
  z-index: 1;
  pointer-events: none;
}

.sidebar .product-sale .sale-product-lists .card .sale-product .product-img {
  /* width: 90px; */
  flex-shrink: 0;
}

.sidebar .product-sale .sale-product-lists .card .sale-product .card-body {
  flex-grow: 1;
  min-width: 0;
  gap: 2px;
  padding: 0px 0px 0px 10px;
}

.sidebar
  .product-sale
  .sale-product-lists
  .card
  .sale-product
  .card-body
  .product-brand,
.sidebar
  .product-sale
  .sale-product-lists
  .card
  .sale-product
  .card-body
  .product-name,
.sidebar
  .product-sale
  .sale-product-lists
  .card
  .sale-product
  .card-body
  .product-price,
.sidebar
  .product-sale
  .sale-product-lists
  .card
  .sale-product
  .card-body
  .product-price2 {
  margin: 0;
  color: var(--black);
}

.sidebar
  .product-sale
  .sale-product-lists
  .card
  .sale-product
  .card-body
  .product-brand {
  color: var(--gray-600-color);
  font-size: 12px;
  margin-top: 10px;
}

.sidebar
  .product-sale
  .sale-product-lists
  .card
  .sale-product
  .card-body
  .product-name {
  font-size: 14px;
  white-space: nowrap; /* 防止換行 */
  overflow: hidden; /* 隱藏溢出部分 */
  text-overflow: ellipsis; /* 顯示省略號 */
  width: 100%; /* 確保它有固定的寬度 */
}

.sidebar
  .product-sale
  .sale-product-lists
  .card
  .sale-product
  .card-body
  .product-price,
.sidebar
  .product-sale
  .sale-product-lists
  .card
  .sale-product
  .card-body
  .product-price2 {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
}

.sidebar
  .product-sale
  .sale-product-lists
  .card
  .sale-product
  .card-body
  .product-color {
  gap: 6px;
  margin-bottom: 10px;
}

.sidebar
  .product-sale
  .sale-product-lists
  .card
  .sale-product
  .card-body
  .product-color
  .color-box {
  width: 13px;
  height: 13px;
  border: 0.5px solid var(--gray-200-color);
  border-radius: 50%;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.4));
}

.sidebar .product-sale .pagination.page-link {
  border: none;
  color: var(--black);
}

.main {
  gap: 30px;
  margin-bottom: 50px;
}

.main .main-top,
.main .main-describe {
  margin-bottom: 10px;
}

.main .main-describe {
  color: var(--gray-600-color);
}

.main .main-img {
  /* height: 188px; */
  object-fit: cover;
}

/* 清除大小分類的叉叉 */
.clear-category-icon {
  color: #888;
  font-size: 14px;
  margin-left: 5px;
}

.clear-category-icon:hover {
  color: #333;
}

.main .main-select .show-per-page-btn,
.main .main-select .select-order-btn {
  border: 0.5px solid var(--gray-200-color);
  /* border-radius: 30px; */
  transition: background-color 0.3s ease;
}
.main .main-select .show-per-page-btn:hover,
.main .main-select .select-order-btn:hover {
  background-color: var(--primary-light-color);
}

.main .main-select .show-per-page-btn .showPerPageText,
.main .main-select .select-order-btn .selectOrderText {
  font-size: 15px;
  color: var(--gray-600-color);
  transition: color 0.3s ease;
}
.main .main-select .show-per-page-btn .showPerPageText:hover,
.main .main-select .select-order-btn .selectOrderText:hover {
  color: var(--black);
}

.main .main-select .show-per-page-btn .showPerPageText .bi-caret-down-fill,
.main .main-select .select-order-btn .selectOrderText .bi-caret-down-fill {
  font-size: 10px;
}

.clear-sort-icon {
  font-size: 16px;
  color: var(--gray-600-color);
  padding: 0 4px; /* 調整內邊距 */
}

.clear-sort-icon:hover {
  color: var(--primary-color);
}

.main .product-lists .card {
  border: none;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  /* padding: 10px; */
}

.main .product-lists .card:hover {
  /* border: 1px solid var(--gray-50-color); */
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.08);
  transform: scale(1.05);
}

.main .product-lists .card .img-container {
  /* width: 100%; */
  aspect-ratio: 1 / 1; /* 確保所有圖片為正方形 */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 隱藏超出部分 */
}
.main .product-lists .card .img-container::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  filter: blur(2px); /* 模糊效果 */
  opacity: 0;
  transition: opacity 0.3s ease;
}
.main .product-lists .card:hover .img-container::after {
  opacity: 1;
}
.main .product-lists .card .img-container .product-img {
  /* max-width: 100%;
  max-height: 100%;
  object-fit: contain; 保持圖片比例 */
  width: 100%;
  height: 100%;
  object-fit: cover; /* 保持圖片比例並填充容器 */
}

.main .product-lists .card .card-body .product-brand,
.main .product-lists .card .card-body .product-name,
.main .product-lists .card .card-body .product-price,
.main .product-lists .card .card-body .product-price2 {
  margin: 0 0 5px 0;
}

.main .product-lists .card .card-body .product-brand {
  color: var(--gray-600-color);
  font-size: 13px;
  font-weight: 400;
}

.main .product-lists .card .card-body .product-name {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  height: 50px; /* 固定高度 */
  line-height: 20px; /* 控制最多兩行 */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 顯示最多兩行 */
  -webkit-box-orient: vertical;
  overflow: hidden; /* 超出部分隱藏 */
  text-overflow: ellipsis; /* 超出部分顯示省略號 */
  line-clamp: 2;
}

.main .product-lists .card .card-body .product-price,
.main .product-lists .card .card-body .product-price2 {
  display: inline-block;
  font-size: 14px;
}

.main .product-lists .card .card-body .product-color {
  gap: 6px;
  height: 20px;
}

.main .product-lists .card .card-body .product-color .color-box {
  width: 15px;
  height: 15px;
  border: 0.5px solid var(--gray-200-color);
  border-radius: 50%;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.4));
}

/* 保護 bootstrap modal */
#rentDetailModal.modal {
  z-index: 1050 !important; /* 固定層級 */
}

.modal-backdrop {
  z-index: 1040 !important; /* 固定背景層級 */
}

.hover-action-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.icon-group{
  display: flex;
  gap: 15px;
}

/* 卡片懸浮狀態 */
.card:hover .hover-action-container {
  opacity: 1;
  
}
/* 按鈕通用樣式 */
.hover-action-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.hover-action-btn i {
  color: var(--black);
  transition: color 0.2s ease;
}

/* 懸浮互動效果 */
.hover-action-btn:hover {
  background: var(--primary-color);
  transform: scale(1.1);
}

.hover-action-btn:hover i {
  color: var(--white);
}

/* 已收藏狀態 */
.hover-action-btn.favorited:hover {
  background: var(--primary-color);
  transform: scale(1.1);
}

.hover-action-btn.favorited {
  background: var(--primary-color);
  transform: scale(1);
}

.hover-action-btn.favorited i {
  color: var(--white);
}

.main .pagination .page-link {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 0;
  color: var(--black);
  font-weight: 400;
}
.main .pagination .page-link a {
  display: flex;
  align-items: center;
  text-align: center;
}

.main .pagination .page-link i {
  font-size: 12px;
}

.main .pagination .active .page-link {
  background-color: var(--secondary-color);
  font-weight: bold;
}

.main .pagination .page-link:hover {
  background-color: var(--primary-light-color);
}

.main .pagination .ellipsis {
  cursor: default; /* 禁用滑鼠指針 */
  background-color: transparent;
}

.dropdown .dropdown-item:hover {
  background-color: var(--primary-light-color);
  color: var(--white);
}

.dropdown .dropdown-item:active {
  background-color: var(--primary-color);
  color: var(--white);
}

/* 保護 bootstrap modal */
#rentDetailModal.modal {
  z-index: 1050 !important; /* 固定層級 */
}

.modal-backdrop {
  z-index: 1040 !important; /* 固定背景層級 */
}
/* 在全局 CSS 添加 */
#rentDetailModal.modal .modal-dialog {
  max-width: 800px !important; /* 保持你的商品詳情 modal 原始寬度 */
}

#rentDetailModal.modal .modal-content {
  width: auto !important; /* 重置寬度設定 */
}