aside {
  padding: 0; /* 移除可能的預設內邊距 */
}
/* article aside */
.aside-category {
  padding: 0 15px 30px 0;
}
.aside-recent {
  padding: 0px 15px 30px 0;
}
.aside-tag {
  padding: 0px 15px 50px 0;
}

.aside-title {
  background-color: #e5e5e5;
  font-weight: bold;
  padding: 15px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

.aside-category-list {
  border: 2px solid #e5e5e5;
  padding: 10px 15px;
}

.aside-category-item {
  background-color: #ffffff;
  padding: 6px 0px;
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

.aside-category-title {
  font-size: 1rem;
  font-weight: 500;
}

.aside-category-amount {
  color: #898989;
}
.aside-recent-article-list {
  border: 2px solid #e5e5e5;
}

.aside-recent-article {
  padding: 10px 15px;
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.aside-recent-article-title {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.aside-recent-article-publish-time {
  color: #898989;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
}

.aside-tag-area {
  padding: 10px 15px;
  border: 2px solid #e5e5e5;
  display: flex; /* 使用 Flexbox */
  flex-wrap: wrap; /* 允許換行 */
  gap: 10px; /* 標籤間距 */
}

.aside-popular-tag {
  display: inline-block; /* 標籤寬度隨內容變化 */
  white-space: nowrap; /* 避免標籤內文字換行 */
  padding: 5px 7px;
  border: 1px solid #dededed0;
  color: #898989;
  font-size: 14px;
  font-weight: 500;
}

/* 滑鼠懸停時變藍色 */
.aside-category-title:hover {
  color: #219ebc;
}
.aside-recent-article:hover {
  color: #219ebc;
}

.aside-recent-article:hover .aside-recent-article-title,
.aside-recent-article:hover .aside-recent-article-publish-time {
  color: #219ebc;
}

.aside-popular-tag:hover {
  color: #219ebc;
  border: 1px solid #219ebc;
}

/* 當前分類時變藍色 */
.aside-category-title.active {
  color: #219ebc;
}

/* article-search-box */
.article-search-box {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 15px; /* 與 .aside-category 的 padding-right 一致 */
  margin-bottom: 21px;
}

.article-search-box input {
  width: 100%;
  padding: 10px 35px 10px 15px; /* 右側 35px 給圖標空間 */
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  height: 40px;
}

.article-search-box input:focus {
  border-color: #029cad;
}

/* 清除圖標 */
.article-search-box .clear-icon {
  position: absolute;
  right: 30px; /* 與 .aside-category 的 padding-right 對齊 */
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  cursor: pointer;
}

.article-search-box .clear-icon:hover {
  color: #333;
}

/* 搜尋圖標 */
.article-search-box .search-icon {
  position: absolute;
  right: 30px; /* 與 .aside-category 的 padding-right 對齊 */
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  cursor: pointer;
}

.article-search-box .search-icon:hover {
  color: #333;
}

/* 隱藏瀏覽器內建的清除按鈕 */
.article-search-box input[type="text"]::-webkit-search-cancel-button {
  display: none;
}