/* article-controls */
.article-controls {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  background-color: #fff;
}

.clear-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 18px;
  color: #888;
}

.clear-button:hover {
  color: #333;
}

.article-controls-btn {
  display: flex;
  justify-content: flex-start; /* 按鈕靠左 */
  gap: 10px;
}

.article-controls-btn .btn-icon {
  margin-right: 10px;
}

.article-controls-btn .btn {
  width: 120px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  border: 1px solid #00000028 !important;
  background-color: #fff !important;
  color: #6f6f6f !important;
  text-align: center;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

.article-controls-btn .btn:hover {
  border: none !important;
  background-color: #8ecae6 !important;
  color: #000000 !important;
}

/* filter */
.custom-filter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-filter .dropdown {
  position: relative;
}

.custom-filter .custom-filter-btn {
  border: 0.5px solid #dedede;
  background-color: #f8f9fa;
  color: #6f6f6f;
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-filter .custom-filter-btn:hover {
  background-color: #8ecae6;
  color: #6f6f6f;
}

.custom-filter .dropdown-menu {
  border: 0.5px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  width: 118px; /* 設置固定寬度 */
  min-width: 80px; /* 設置最小寬度 */
}

.custom-filter .dropdown-item {
  color: #898989;
  padding: 8px 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-filter .dropdown-item:hover {
  background-color: #8ecae6;
  color: white;
}

.custom-filter .bi-caret-down-fill {
  font-size: 10px;
  margin-left: 5px;
}

/* article-list 和 cards-container */
.article-list {
  padding: 0;
}

.cards-container {
  display: flex;
  flex-wrap: wrap; /* 恢復 flex-wrap */
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}

.article-list-card-link {
  display: block; /* 修正 <Link> 的顯示問題 */
  width: calc(50% - 30px); /* 與卡片寬度一致 */
  margin: 0; /* 移除間距 */
  text-decoration: none; /* 移除下劃線 */
  color: inherit; /* 繼承文字顏色 */
  margin: 0 10px 30px 10px;
}

.article-list-card {
  min-width: 0;
  width: 100%; /* 填充父容器 .article-list-card-link */
  height: 330px;
  border: none;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.article-list-card:hover {
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.08);
  transform: scale(1.05);
}

.article-list-card-photo {
  position: relative;
  height: 40%;
  overflow: hidden;
}

.article-list-card-photo::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  filter: blur(2px);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.article-list-card:hover .article-list-card-photo::after {
  opacity: 1;
}

.article-list-card-text {
  margin: 10px 0 5px 0;
  flex: 3;
  display: flex;
  flex-direction: column;
}

.article-list-card-title {
  margin: 0 13px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  font-weight: 700;
}

.article-list-icon {
  margin-right: 6px;
  display: inline-flex;
  align-items: center;
  font-size: 15px;
}

.article-list-card-info {
  margin: 7 13px;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-list-card-author,
.article-list-card-publishtime {
  margin-right: 10px;
}

.article-list-card-comment {
  margin-left: auto;
}

.article-list-card-content {
  margin: 0 13px;
  color: #898989;
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: calc(2 * 1.7em);
}

.article-list-card-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 13px;
}

.article-list-card-btn .btn {
margin-left: 10px;
  text-align: center;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  padding: 8px 19px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
  text-align: center;
  padding: 4px 33px;
}

.article-list-card-btn .btn:hover {
  background-color: #8ecae6 !important;
  color: #000000 !important;
}

.article-list-card-tag {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin: 5px 0;
}

.article-list-card-tag .tag {
  margin: 0 5px;
  color: #219ebc;
  font-size: 13px;
  padding: 2px 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.article-list-card-tag .tag:hover {
  background-color: #8ecae6;
  color: #000000;
}

/* Pagination 分页 */
.custom-pagination {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  list-style: none;
  width: 100%;
  margin-top: 60px;
  padding: 0;
}

.page-item {
  display: inline-block;
}

.page-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.page-item.active .page-link {
  background-color: #ffd500;
  color: black;
}

.page-link:hover {
  background-color: rgba(255, 213, 0, 0.3);
}

.page-link:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.page-item:hover {
  background-color: rgba(255, 213, 0, 0.3);
}

.page-link:hover {
  background-color: #ffd500;
}

.page-item.active .page-link {
  background-color: #ffd500;
  color: black;
}

.page-link:focus {
  outline: none;
}
