/* 通用樣式 */
.article-controls {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 15px 0;
  background-color: #fff;
  margin: 0 8px;
}

.article-controls-btn {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.article-controls-btn .btn-icon {
  margin-right: 10px;
}

.article-controls-btn .btn {
  width: 120px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  padding: 8px 19px;
  background-color: #029cad;
  color: #fff;
  text-align: center;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

.article-controls-btn .btn:hover {
  background-color: #02818b;
  color: #fff;
}

.create-form {
  padding: 32px 32px 70px 32px;
  margin-bottom: 60px;
  border-top: 6px solid #219ebc;
  border-right: 2px solid #219ebc;
  border-bottom: 2px solid #219ebc;
  border-left: 2px solid #219ebc;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.form-control {
  border: 1px solid #c0c0c0;
  border-radius: 0% !important;
}

.upload-square {
  width: 125px;
  height: 125px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.upload-square-icon {
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: #333;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.upload-square-icon::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 50px;
  background-color: #333;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.upload-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.create-title {
  flex: 1;
  text-align: left;
  color: #000;
  font-family: "Noto Sans TC";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.secondaryTitle {
  color: rgba(0, 0, 0, 0.75);
  font-size: 12px;
  font-weight: 400;
  margin: 20px 0 10px 0;
}

.new-tag {
  display: inline-flex;
  align-items: center;
  padding: 5px 15px;
  border: 1px solid #c0c0c0;
  margin: 20px 20px 10px 0;
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 400;
}

.close-tag-btn {
  margin-left: 10px;
  background: none;
  border: none;
  font-size: 16px;
  color: black;
  cursor: pointer;
}

.close-tag-btn:hover {
  color: red;
}

.category-container {
  display: flex;
  gap: 20px;
}

.category-big,
.category-small {
  width: 25% !important;
  border-radius: 0 !important;
}

.form-item {
  width: 100%;
}

.btnarea {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 30px 0 20px 0;
}

.btnarea .article-create-btn {
  display: inline-block;
  margin-top: 8px;
  padding: 8px 12px 50px 8px;
  background-color: #029cad;
  color: #fff;
  text-align: center;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

.btnarea .article-create-btn:hover {
  background-color: #02818b;
  color: #fff;
}

/* 手機板小尺寸 RWD */
@media (max-width: 767.98px) {
  .article-create {
    width: 90% !important; /* 讓 ArticleForm 佔據頁面橫向的 90% */
    margin: 0 auto; /* 置中 */
  }

  .create-form {
    padding: 16px; /* 減少內邊距 */
  }

  .category-container {
    flex-direction: column; /* 讓分類選項垂直排列 */
  }

  .category-big,
  .category-small {
    width: 100% !important; /* 讓 select 填滿父容器的寬度 */
  }

  .btnarea {
    flex-direction: column; /* 讓按鈕垂直排列 */
  }

  .btnarea .article-create-btn {
    width: 100%; /* 讓按鈕填滿寬度 */
  }
}