:global(:root) {
  --primary-color: #219ebc;
  --primary-deep-color: #023047;
  --primary-light-color: #8ecae6;
  --secondary-color: #ffd500;
  --secondary-deep-color: #ffb703;
  --secondary-light-color: #f1d691;
  --white: #ffffff;
  --black: #000000;
  --gray-20-color: #f8f9fa;
  --gray-50-color: #e5e5e5;
  --gray-100-color: #dedede;
  --gray-200-color: #e5e5e5;
  --gray-300-color: #cfcfcf;
  --gray-400-color: #b2b2b2;
  --gray-500-color: #a3a3a3;
  --gray-600-color: #898989;
  --gray-700-color: #6f6f6f;
  --gray-800-color: #555555;
  --gray-900-color: #3b3b3b;
}

:global(*) {
  font-family: "Noto Sans TC", serif;
  font-size: 16px;
}

:global(*:focus) {
  outline: none !important;
  box-shadow: none !important;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin: 10 auto;
  padding: 20px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

/* 小螢幕時改為上下堆疊 */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }
}

.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* 大頭貼區塊 */
.avatarSection {
  flex: 1; /* 佔 1 份 */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.avatarPreview {
  width: 200px;
  height: 200px;
  border-radius: 0;
  overflow: hidden;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarImage {
  border-radius: 50%;
  object-fit: cover;
}

.memberLevel {
  margin-top: 10px 0 10px 0;
  font-weight: bold;
  color: var(--primary-deep-color);
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}

.avatarUploadBtn {
  background-color: var(--white);
  color: var(--black);
  padding: 10px 20px;
  border: 1px solid var(--gray-200-color);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}

.avatarUploadBtn:hover {
  background-color: var(--gray-400-color);
  color: var(--white);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.avatarInput {
  display: none; /* 隱藏文件輸入框 */
}


.providersSection h3 {
  font-size: 16px;
  color: var(--gray-600-color);
}

.providerIcon {
  font-size: 16px;
  color: var(--primary-color);
}

.providerName {
  font-size: 16px;
  color: var(--gray-600-color);
}

/* 個人資訊區塊 */
.accountForm {
  flex: 2; /* 佔 2 份 */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formGroup label {
  font-weight: regular;
  color: var(--gray-800-color);
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--gray-300-color);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--gray-800-color);
}

.formGroup input:focus {
  border-color: var(--primary-color);
  outline: none;
}


/* 修改密碼 */
.changePasswordLink {
  background: none;
  border: none;
  color: var(--primary-color); 
  cursor: pointer;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  padding: 0;
  text-decoration: underline;
}

.changePasswordLink:hover {
  color: var(--primary-deep-color);
}

.buttonGroup {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 10px;
}

.saveBtn {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.saveBtn:hover {
  background-color: var(--primary-deep-color);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.cancelBtn {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cancelBtn:hover {
  background-color: var(--secondary-deep-color);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* 魚博彥新家 */
