.activitySection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--primary-deep-color);
  color: var(--white);
}

.swiperContainer {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.parallaxBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400%;
  background-size: cover;
  background-position: center top;
  z-index: 1;
  filter: contrast(1.2) brightness(1.1);
  transition: transform 1.2s ease-out; /* 背景視差滾動效果 */
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.activityCard {
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease, box-shadow 0.3s ease;
  position: relative;
  animation: float 3s infinite ease-in-out;
}

.activityCard.active {
  opacity: 1;
  transform: translateY(0);
}

.activityCard:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.activityCard:hover .price {
  opacity: 1;
}

.activityImage {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  filter: contrast(1.2) brightness(1.1);
}

.activityCard h2 {
  color: var(--primary-deep-color);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--secondary-deep-color);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.bubbleButton {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 3;
  animation: float 3s infinite ease-in-out;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.bubbleButton.visible {
  opacity: 1;
}

.bubbleButton:hover {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}



@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}