.welcomeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.floatingHeader {
  font-size: 2.5rem;
  color: var(--white);
  margin-bottom: 1rem;
}

.sinkingHeader {
  font-size: 2rem;
  color: var(--white);
  margin-top: 1rem;
}