.ordersContent {
    max-width: 980px;
    margin: 0 auto;
    background-color: var(--white);
  }

  .tabButtons {
    display: flex;
    gap: 10px;
    margin: 20px 0;
  }
  
  .tabButton {
    flex: 1;
    padding: 10px;
    background-color: var(--gray-100-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    color: var(--gray-800-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .tabButton:hover {
    background-color: var(--gray-200-color);
  }
  
  .tabButton.active {
    background-color: var(--primary-color);
    color: var(--white);
  }
  
  /* 頁簽內容 */
  .tabContent {
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  }
  
  
  .section {
    margin-bottom: 40px;
  }
  
  .section h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--primary-color);
  }
  
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .card {
    background-color: var(--white);
    border: 1px solid var(--gray-200-color);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .cardImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .cardContent {
    padding: 15px;
  }
  
  .cardTitle {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--gray-800-color);
  }
  
  .cardDescription {
    font-size: 0.9rem;
    color: var(--gray-600-color);
    margin-bottom: 15px;
  }
  
  .cardStatus {
    font-size: 0.9rem;
    color: var(--gray-700-color);
    margin-bottom: 15px;
  }
  
  .cardButton {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease, transform 0.3s ease,
      box-shadow 0.3s ease;
  }
  
  .cardButton:hover {
    background-color: var(--primary-deep-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  }
  
  /* 分隔線 */
  .divider {
    height: 1px;
    background-color: var(--gray-200-color);
    margin: 20px 0;
  }
  
  @media (max-width: 768px) {
    .cardContainer {
      grid-template-columns: 1fr;
    }
  }