:global(:root) {
  --primary-color: #219ebc;
  --primary-deep-color: #023047;
  --primary-light-color: #8ecae6;
  --secondary-color: #ffd500;
  --secondary-deep-color: #ffb703;
  --secondary-light-color: #f1d691;
  --white: #ffffff;
  --black: #000000;
  --gray-20-color: #f8f9fa;
  --gray-50-color: #e5e5e5;
  --gray-100-color: #dedede;
  --gray-200-color: #e5e5e5;
  --gray-300-color: #cfcfcf;
  --gray-400-color: #b2b2b2;
  --gray-500-color: #a3a3a3;
  --gray-600-color: #898989;
  --gray-700-color: #6f6f6f;
  --gray-800-color: #555555;
  --gray-900-color: #3b3b3b;
}

:global(*) {
  font-family: "Noto Sans TC", serif;
  font-size: 16px;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.homePage {
  height: 100vh;
  position: relative;
  background: linear-gradient(to bottom, #023047 0%, #8ecae6 50%, #f8f9fa 100%);
  overflow-y: auto;
  scroll-snap-type: y mandatory; /* 強制全屏切換 */
  /* overflow: hidden; */
  /* scroll-behavior: smooth; */
  -webkit-overflow-scrolling: touch;
}

/* 隱藏滾動條 */
.homePage::-webkit-scrollbar {
  display: none;
}

.homePage {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* 每個區塊 */
.section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  scroll-snap-align: start; /* 確保每個 section 對齊頂部 */
}

/* 全局氣泡 */
.globalBubble {
  position: absolute;
  pointer-events: none;
  z-index: 1;
  opacity: 1; /* 初始透明度更明顯 */
  border-radius: 50%; /* 確保圓形 */
}