:root {
    --primary-deep-color: #023047;
    --primary-color: #219ebc;
    --primary-light-color: #8ecae6;
    --secondary-deep-color: #ffb703;
    --secondary-color: #ffd500;
    --secondary-light-color: #f1d691;
}

body{
    .h5 {
        font-weight: bold;
        margin-bottom: 25px;
    }
    
    .colorPrimary {
        color: var(--primary-color);
    }
    .timeLanguage {
        padding: 25px 0;
        border-top: 1px solid #cfcfcf;
    }
    .promotionalWords {
        padding: 25px 0;
        border-top: 1px solid #cfcfcf;
        .li {
            margin-bottom: 18px;
        }
    }
    .chooseBtn {
        background-color: var(--primary-color);
        color: #fff;
        border-color: var(--primary-color);
        &:hover {
            background-color: var(--primary-light-color);
            color: #fff;
        }
        &:focus {
            border-color: var(--primary-color);
            /* color: var(--primary-deep-color); */
        }
        &:active {
            /* color: var(--primary-color); */
            outline: none !important;
            box-shadow: none !important;
        }
    }
    .titleIcon {
        font-size: 24px;
    }
    .imgContainer {
        width: 50px;
        height: 50px;
        object-fit: fill;
        overflow: hidden;
        flex-shrink: 0;
        img {
            height: 100%;
        }
    }
    .commentText {
        background-color: #f6f6f6;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .commentCard {
        .text {
            font-size: 14px;
            color: #333;
        }
    }
    .bgGray {
        background-color: #f5f5f5;
    }
    .bgSecondaryDeep {
        background-color: var(--secondary-deep-color);
    }
    .activityPlain {
        display: flex;
        flex-direction: column;
    }
    .hint {
        background-color: var(--secondary-color);
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 3px;
    }
    .earliestBookingDay {
        padding-left: 8px;
        i {
            padding-right: 8px;
        }
    }
    .btns {
        display: flex;
        gap: 4px;
        .btn {
            border: 1px solid #e6e9ed;
            &:hover {
                background-color: var(--primary-color);
                color: #fff;
            }
            &.active{
                background-color: var(--primary-color);
                color: #fff;
            }
        }
    }
    .iconBtn {
        width: 28px;
        height: 40px;
        padding: 0;
        border-radius: 50%;
        font-size: 28px;
        /* display: flex; */
        background-color: transparent;
        border: none;
        color: #219ebc;
    }
    
    .circleIcon {
        width: 46px;
        height: 46px;
        flex-shrink: 0;
        vertical-align: middle;
    }
    .mb25px {
        margin-bottom: 25px;
    }
    .activityProject {
        background-color: #fff;
        border-radius: 8px;
        &.active {
            box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
        }
    }
    
    .btnPrimaryLight {
        background-color: var(--primary-light-color);
        color: white;
    }
    .btnPrimaryColor {
        background-color: var(--primary-color);
        color: #fff;
    }
    .btnWhite {
        background-color: #fff;
    }
    .activityDescriptionBorder {
        border-bottom: 1px solid #eee;
        .listGroup {
            padding-top: 16px;
        }
        /* padding-bottom: 40px; */
    }
    .descriptionImgContainer {
        max-width: 799px;
        max-height: 409px;
        object-fit: cover;
        overflow: hidden;
        .img {
            width: 100%;
        }
    }
    .square {
        width: 58px;
        height: 58px;
        border-radius: 4px;
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
    }
    .star {
        color: var(--primary-color);
    }
    .descriptionNav {
        .li {
            position: relative;
            margin-bottom: 15px;
            &.active::before {
                background-color: var(--primary-color);
                content: " ";
                height: 24px;
                width: 4px;
                display: inline-block;
                position: absolute;
                left: -20px;
                border-radius: 5px;
            }
        }
    }
    .recommendCardA{
        text-decoration: none;
        color: #000;
        &:hover{
            .recommendCardText {
                color: var(--primary-color);
            }
        }
        .recommendCard {
        width: 277px;
        display: flex;
        flex-direction: column;
        gap: 7px;
        .count {
            background-color: var(--primary-light-color);
            border-radius: 3px;
            color: var(--primary-color);
            font-weight: bold;
            align-self: flex-start;
            padding-left: 8px;
            padding-right: 8px;
            font-size: 12px;
            line-height: 2;
        }
        .cardImgContainer {
            height: 153px;
            object-fit: cover;
            overflow: hidden;
            border-radius: 12px;
            position: relative;
            .img {
                width: 100%;
                height: 100%;
            }
            .mapMarker {
                position: absolute;
                top: 13px;
                left: 13px;
                color: #fff;
                display: flex;
                gap: 5px;
                justify-content: center;
                align-items: center;
            }
            .heart {
                position: absolute;
                top: 13px;
                right: 13px;
                color: #fff;
                height: 24px;
                font-size: 18px;
            }
        }
        .recommendCardText {
            width: 100%;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
        .countPrice {
            font-size: 14px;
            color: #898989;
            text-decoration-line: line-through;
        }
    }
    }
    
    .circleButton {
        width: 40px;
        height: 40px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    }
    .scoreSort {
        width: fit-content;
        height: fit-content;
    }
    .locationName {
        font-size: 18px;
    }
    .fs22px {
        font-size: 22px;
    }
    .fwMedium {
        font-weight: 500;
    }
    .priceRight {
        height: fit-content;
        padding: 19px 20px 40px 20px;
    }
    .fs18px {
        font-size: 20px;
    }
    .fs20px {
        font-size: 20px;
    }
    .fs14px {
        font-size: 14px;
    }
    .secondaryDeepColor {
        color: var(--secondary-deep-color);
    }
    .projectBtn {
        padding: 12px 25px !important;
        width: fit-content;
        height: fit-content;
    }
    .chooseProjectBtn {
        width: fit-content;
        height: fit-content;
        border: 1px solid var(--primary-color);
        &:hover {
            background-color: var(--primary-color);
            color: #fff;
        }
        &.active {
            background-color: var(--primary-color);
            color: #fff;
        }
    }
    .collapseSession {
        border-top: 1px solid #eeeeee;
    }
    .mobileDateSession {
        overflow-x: auto;
        .dateCardContainer {
            width: fit-content;
            .dateCard {
                width: 80px;
                height: 50px;
                background-color: #fff;
                border-radius: 8px;
                border: 1px solid #e6e9ed;
                flex-shrink: 0;
                &.active {
                    border: 1px solid var(--primary-color);
                }
            }
        }
    }
    .galleryContainer {
        border-radius: 8px;
        overflow: hidden;
    }
    
}
